.home{
    height: 90vh;
}

.controls{
    display: flex;
    justify-content: center;
    padding: 30px;
    column-gap: 30px;
    position: absolute;
    width: 100%;
    z-index: 99;
}

.controls button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    font-size: large;
}